<link href="http://localhost:8000/css/bootstrap.min.css" rel="stylesheet">
<link href="http://localhost:8000/css/blog-post.css" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <h1>{{post.title}}
                {{#if reg_user}}
                    <img src="http://localhost:8000/images/fav.jpg" style="width: 2em;" onclick="favThisPost('{{post._id}}'); "/>
                {{/if}}
            </h1>
            <p class="lead">
                <a href="#">{{user.username}}</a>
            </p>
            <hr>
			<p>{{post.description}}</p>
            <hr>
			<p><span class="glyphicon glyphicon-time "></span> Posted on {{dateFormat post.dateCreated "dddd, MMMM Do YYYY, h:mm:ss a"}}</p>
            {{#each post.tags}}
                <span class="icon-tags"
                      style="background-color:#cdf2f1;color: black;display: inline;">#{{this}}</span>
                <span>&nbsp;</span>
            {{/each}}
            <hr>
            
            <div class="well">
                <h4>Leave a Comment:</h4>
                <div>
                    <input type="hidden" value={{post._id}} name='getPost' id="getPost"/>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
                    </div>
                    <button onclick="addComment('{{_id}}')" class="btn btn-primary">Post Comment</button>
                </div>
            </div>
            <hr>
        </div>

        <div class="col-md-4">

            <div class="well">
                <h4>Topic Search:</h4>
                <div class="input-group">
                    <span class="expandonClick1">
                        <input type="text" name="search" placeholder="Search..">
                        {{#if reg_user}}
                            <a onclick="document.getElementById('id03').style.display='block'" style="width:auto;"> Post Question ?</a>
                        {{/if}}
                    </span>
                </div>
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Stats:</h4>
                {{#if reg_user}}
                    <img src="http://localhost:8000/images/like.png" style="width: 2em;" onclick="increaseUpvotes('{{post._id}}'); "/>
                {{/if}}
                <span style="color:greenyellow;" id="upvotes">
                    Up votes : {{post.upvotes.length}}</span>
                <br/>
                {{#if reg_user}}
                    <img src="http://localhost:8000/images/unlike.png" style="width: 2em;" onclick="increaseDownvotes('{{post._id}}');"/>
                {{/if}}

                <span style="color:lightcoral;" id="downvotes">
                    Down votes : {{post.downvotes.length}}</span>
                <br/>
                <img src="http://localhost:8000/images/preview.jpg" style="width: 2em;"/>
                <span style="color:cornflowerblue;" id="preview" >
                    Views : {{post.preview}}</span>
            </div>
        </div>
    </div>
    <div id="commentsList">
        {{#each comments}}
            <div class="media" onclick="getCommentOfComment('{{_id}}',this);">
                <a class="pull-left" href="#">
                    <img class="media-object" style="width: 7em;height: 5em;" src="http://localhost:8000/uploads/{{user.filename}}" alt="profile pic of user">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{user.username}}
                        <small>{{lastModified}}</small>
                    </h4>
                    {{text}}
                </div>
            </div>
            <div class="clickedDiv" id='selected{{_id}}'></div>
        {{/each}}
    </div>
</div>
<script src="http://localhost:8000/javascript/jquery.js"></script>
<script src="http://localhost:8000/javascript/bootstrap.min.js"></script>