<span class="expandonClick">
    <input type="text" name="search" placeholder="Search..">
    {{#if reg_user}}
        <a onclick="document.getElementById('id03').style.display='block'" style="width:auto;"> Post this Question ?</a>
    {{/if}}
</span>
<table class="table forum table-striped" id="middleTable">
    <thead>
    <tr>
        <th><span>Discussion</span></th>
        <th><span>Topics</span></th>
        <th><span>Posts</span></th>
        <th><span>Last Post</span></th>
    </tr>
    {{#each posts}}
        <tr>
            <td><span>{{title}}</span></td>
            <td>
            {{#each tags}}
                <span>{{this}}</span>
            {{/each}}
            </td>
            <td>
                <span>
                    {{#if comments}}
                        {{comments.length}}
                    {{else}}
                        0
                    {{/if}}
                </span>
            </td>
            <td><span>{{lastModified}}</span></td>
        </tr>
    {{/each}}
    </thead>
</table>
